ul{
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
    
}

ul li{
    display: inline-flex;
    /* align-items: center; */
    margin-left: 25px;
}