#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2 {
  text-align: left;
  padding-left: 30px;
}
.nav {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.link {
  padding: 10px;
  color: #000;
}
.link:hover {
  border-bottom: 4px #ddd solid;
  margin-bottom: -4px;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.listItemHolder {
  border: solid 1px #eee;
}
.listItem {
  padding: 10px;
  box-shadow:5px 5px 5px #ddd;
}