.starship-info {
  margin-top: 20px;
}

.starship-name {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model, .class, .manufacture, .crew, .pass-capacity, .cargo-capacity, .atmospher, .hyperdrive {
  font-size: 22px;
  display: flex;
  justify-content: center;
}