html,body  {
  /* ADD THE BACKGROUD COLOR HERE  */
  background-color: rgb(0, 0, 0);
display: flex;
flex-direction: column;


}
h1{
  color:white ;
}
.header {
  width:100% ;
  
}

.starship, .Films ,.planets,.people{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}
.starship, .Films, .planets ,.people> h2{
  color: aliceblue;
  text-align: center;
}
 .card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  width: calc(30%);
  height: 22rem;
  background-color: rgb(163, 162, 162);
  margin: 1em;
  border-radius: 10%;
  text-align: center; 
}
h3{
  color: aliceblue;
  width: 100%;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.771);
  font-size: x-large;
  margin: 0;
  line-height: 2em; 
  text-align: center;
}

 h4{
  font-size:  large;
  color: aliceblue;
  margin: 10px;
}

.pagetitle{
  width: 100%;
  font-size: 6em;
  color: rgb(146, 125, 5);
  display: flex;
  align-self: center;
  justify-content: center;
}



.navigationBar{
  width: 100%;
  display: flex;
  flex-direction: row;
 

}

.NavBar{
display: flex;
flex-direction: row;
width: 100%;
justify-content: space-around
}

.links{

  display: flex;
  flex-direction: row;
    font-size: 2rem;
   


}